<!doctype html>
<html>
<head>
  <title>The Sign Up Cube</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  
  <header>
    <h1>welcome to my calendar</h1>
    <h3 class ="displayCurrentMonth "data-curMonth ="<%= currentMonthNum%>"><%= months[currentMonthNum] %></h3>
    
    <h2>year <%= year %></h2>
    <button class ="buttonLeftArrow"><i class="fa fa-arrow-left"></i></button>
    <button class ="buttonRightArrow"><i class="fa fa-arrow-right"></i></button>
  </header>
  <% 
  console.log(signUpResults._id) %> 
  <h3><button class = "buttonToViewList" data-eventIdView="<%= signUpResults._id%>">View List</button></h3>
  <div class="calendar-container">
    <% for(let month = 0;month < calendar.length;month++) { %>
      
      <div class="month-container <% if(month != currentMonthNum) { %> hidden <% } %>" id="<%= months[month] %>" data-month="<%= month %>"> 
        <h3 style="text-align: center;"> <%= months[month] %> </h3>
        
        
        <div class="day-of-week">
          <span>Sun</span><span>Mon</span><span>Tue</span><span>
            Wed</span><span>Thu</span><span>Fri</span><span>Sat</span>
          </div>
          
          <% for(let x = 0;x < calendar[month].length;x++) { %>
            <div class="days">
              <% for(let y = 0;y < calendar[month][x].length;y++) { %>
                
                <% const date = year + '-' + (month <  9 ? '0' : '' )+ (month+1) + '-' + (calendar[month][x][y] < 10 ? '0' : '') + calendar[month][x][y]  %>
                
                <% const slotsForDate = timeSlotResults.filter( (timeSlot) => date === timeSlot.date) || [] %>
                <div class="date">
                  
                  <div id="<%= date %>">
                    <%= calendar[month][x][y] %>
                    <ul class ="ulSlots">
                      <% for(let i = 0; i < slotsForDate.length; i++) { %>
                        <li><%= slotsForDate[i].activityDescription %></li>
                        <% } %>
                        
                        <% if(slotsForDate.length > 0) {%> <button class ="buttonToViewMore" data-slotDate= '<%= date %>' data-eventIdViewMore="<%= signUpResults._id%>"
                          >View More</button>
                          <% } %>
                          <% if(slotsForDate.length > 0) {%> <button class ="buttonToViewList" data-eventIdView = '<%=signUpResults._id %>'
                            >Sign Up</button> 
                            <% } %>
                          </ul>
                          
                        </div>
                      </div>
                      
                      <% } %>
                    </div>
                    <% } %>
                  </div>
                  
                  <% } %>
                </div>
                
                <div class="modal">
                <div class="modal-header">
                  <span class="close-btn">&times;</span>
                  <h1>Sign Up</h1>
                </div>
                <div class="modal-content">

                  <table class="table">
                    <thead class="thead-dark">
                        <tr class = "trHead">
                            <th scope="col">Date</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">End Time</th>
                            <th scope="col">Location/Activity Description</th>
                        </tr>
                    </thead>
                    <tbody id="tableSlotsForDay">
                    </tbody>
                  </table>
                  


                </div>
                <div class="modal-footer">
                  <h2></h2>
                </div>
              </div>
           
              
              
              
              
              
              <script type="text/javascript" src="main.js"></script>
              
            </body>
            </html>
            
            
            
            
            